{% extends "template.html" %}
{% block title %}Create Job{% endblock %}
{% block extra_head%} 

{% endblock%}

{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="col-12">
            <h1 class="center bg-light border p-2 d-flex justify-content-center">Logged in as Recruiter</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-8">
            
            <form action="{% url 'create_job' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputText">Enter Job Name</label>
                  <input type="Text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Job Name">
                  {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
                </div>
                <div class="form-group">
                  <label for="exampleInputText">Skills Required for Job</label>
                  <input type="Text" class="form-control" name="skills" id="exampleInputPassword1" placeholder="Required Skills (comma-separated)">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Job Description"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}
