{% extends "template.html" %}

{% block title %}
Autonomous Recruitment App
{% endblock %}

{% block content %}
<div class="height-100 bg-light">
    <!-- Sidebar and Header are inherited from the master template -->
    
    <div class="px-4 py-5 my-5 text-center">
        {% comment %} <img class="rounded-circle d-block mx-auto mb-4" src="https://via.placeholder.com/150" alt="" width="72" height="57"> {% endcomment %}
        <h1 class="display-5 fw-bold">Continue As:</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3" onclick="window.location.href='{% url "post_job" %}'">Recruiter</button>
            <button type="button" class="btn btn-outline-success btn-lg px-4" onclick="window.location.href='{% url "recruitment_dashboard" %}'">Candidate</button>
          </div>
        </div>
    </div>
</div>
{% endblock %}
